.input__title {
  font-style: italic;
  font-weight: 700;

}

.row__wrapper {
  display: flex;
  align-items: center;
}

.row__wrapper--end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.minjust-link {
  color: #1596cd;
  display: block;
  border: 3px #1596cd solid;
  text-decoration: none;
  font-weight: 700;
  font-style: italic;
  border-radius: 25px;
  padding: 0 2rem;
  margin-left: 10px;
}

.wrapper__main {
  padding: 1rem;
}

.submit {
  color: #1596cd;
  border: 3px #1596cd solid;
  font-weight: 700;
  font-style: italic;
  border-radius: 25px;
  padding: 0.5rem 2rem;
  background-color: #fff;
  cursor: pointer;  
}
